<html>
<head>
  <link rel='stylesheet' href='css/style.css'>
  <link rel='icon' href='img/sun.svg'>
</head>
<body>
<div class='main-content'>
  {{>header}}
  {{message}}
</div>
{{>footer}}
</body>
</html>