<!DOCTYPE html>
<html>
<head>
  <link rel='stylesheet' href='css/styles.css'>
  <link rel='icon' href='img/sun.svg'>
</head>
<body>
<div class='main-content'>
  {{>header}}
  <p>This site is created by Rajat. It uses data from opencagedata.com and darksky.net!</p>
  <img class='portrait' src='img/robot.png' alt='robot'>
</div>
{{>footer}}
</body>
</html>